.App {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
}

.Sidebar {
	grid-area: 1 / 1 / 7 / 2;
	background-color: #fb8464;
	display: flex;
	flex-direction: column-reverse;
	min-height: 100vh;
	max-height: 100vh;
	min-width: 15vw;
}

.Header {
	grid-area: 1 / 2 / 2 / 7;
	background-color: #fb8464;
	max-height: 15vh;
}

.Main {
	grid-area: 2 / 2 / 7 / 7;
	display: flex;
	flex-flow: column;
	width: 100%;
	align-items: center;
	overflow-y: auto;
}

.Button {
	-webkit-box-shadow: 21px 15px 21px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 21px 15px 21px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 21px 15px 21px 2px rgba(0, 0, 0, 0.3);
}

button {
	background-color: red;
}

.NoteArea {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.NoteArea::-webkit-scrollbar {
	display: none;
}

.NoteCard {
	height: 150px;
	width: 150px;
	border: 1px solid;
	-webkit-box-shadow: 21px 15px 21px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 21px 15px 21px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 21px 15px 21px 2px rgba(0, 0, 0, 0.3);
	margin: 5%;
	margin-left: 10px;
	background-color: #e0e2db;
}
